@import "../node_modules/bootstrap/scss/bootstrap";

body {
  &::after{
    position: absolute;
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    content:"";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
  }
}

.los-card article {
  animation: reveal 1s ease-in-out;
  @keyframes reveal {
    from {
      left: -1000px;
    }
    to {
      left: 0;
    }
  }

  p {
    background-color: black;
    color: white;
  }
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.8);
  }
}

.avatar {
  max-height: 100px;
}