.connexion {
    position: absolute;
    text-align: center;
    color:#ed2c25;
    height: 100%;
    top : 41px;
    left : 0;
    right: 0;
    
    
}
.connexion > h2 {
    padding-top: 300px;
}

.err{
    padding-bottom: 1em;
}