.ctn{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2em;
    border-radius: 30px;
    border: 1px solid black;
    max-width: 550px;
    margin-top: 4em;

}

.form-group{
    padding: 1.5em;
    
}

.scdLink{
    padding: 1em;
}