/*.listForm {
    list-style-type: none;
    padding: 10px;
}


.listForm > section >  li > label {
    display : inline-block;
    width: 225px;
}
.formulaireCompte  {
    display: flex;
    margin-left : auto; margin-right: auto;
    margin-top :10px; margin-bottom: 10px;
    width:35%;
    border-radius : 10px;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    flex-direction:column;
    background-color: #bde4e1;
}
.listForm > section {
    background-color: #a13221;
    border : solid;
    border-width: 2px;
    border-radius: 5px;
    border-color :white;
    margin : 10px;
    box-shadow: 3px -3px rgb(78, 16, 16), 3px 3px   rgb(78, 16, 16), -3px -3px rgb(78, 16, 16), -3px 3px   rgb(78, 16, 16);

}
.listForm > section  > li {
    padding : 10px;
    color :white;

}
.listForm input {
    height: 20px;
    width: 150px;
    border-radius: 10px;
    border-width: 1px;
    outline: none;
    padding: 0.2em;
    padding-left:5px;
}

.submit button {
    height : 30px;
    margin-left: auto;margin-right:auto;
    width: 150px;
    color: #a13221;
    background-color: white;
    margin-left: 10px;margin-right:10px;
    justify-content: center;
    border: none;
    border-radius:10px;
    font-weight: bolder;
    padding-left:5px;
}
.submit {
    display: flex;
    justify-content: center;

}
.formulaire > h1 {
    display: flex;
    justify-content: center;
    color: #ed2c25;

}

body {
    background-image: url("poroh.jpg") ;
    margin-top:50px;
    
    
}
.confirme {
    display: flex;
    color:white;
    justify-content: center;
    margin-top: 100px;
}

.mdp {
    
}*/