* {
  margin: 0;
  border: 0;
  padding: 0;
}

#rules {
  background-color: white;
  opacity: 0.8;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;

  padding: 1em;
}

#rules .play-btn {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
}

.txtBtn{
  color: white;
  text-decoration: none;  
}

.txtBtn:hover{
  color: white;
  text-decoration: none;  
}


li{
  list-style: none;
}


.boutons_jeu {
  display:flex;
  flex-direction: row;
}