*{
    margin: 0;
    padding: 0;
    border: 0;
}


.joueur1_hp{
    background-color: rgba(255, 255, 255,0.5); 
    display: table-caption;
    caption-side: top;
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);

}

.para2_hp{
    margin: 0;
}

.para1_hp{
    margin: 0;
}

.joueur2_hp{
    background-color: rgba(255, 255, 255,0.5);
    position: absolute;
    bottom: 0;
    width: 150px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px ;
}

.joueur_low{
    background-color: rgba(240, 0, 0, 0.5);
}

.heal{
    margin: 0;
}

.joueur1_img{
    /*background-color: rgba(0, 0, 0, 0.3);*/
    position: absolute;
    left: 10px;
    top: 60px;
    caption-side: top;
    display: table;
}

.joueur2_img{
    /*background-color: rgba(0, 0, 0, 0.2);*/
    position: absolute;
    bottom: 50px;
    left: 10px;


}

.joueur_img{
    width: 120px;
    height: 120px;
}

.joueur1_deck{
    background-image: url("../img/deck.jpg");
    border : 2px solid black;
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 160px;
    width: 130px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.joueur1_deck:hover, .joueur2_deck:hover{
    box-shadow: 15px 15px 15px 15px  rgba(0, 0, 0, 0.5);
}

.joueur1_deck:hover{
    cursor: pointer;
}

.joueur2_hp:hover{
    box-shadow: 15px 10px 15px 7px  rgba(0, 0, 0, 0.5);
    cursor: pointer;


}


.joueur2_deck{
    background-image: url("../img/deck.jpg");
    border : 2px solid black;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 160px;
    width: 130px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);


}

.plateau{
    height: 90vh;
}

.joueur2{
    min-height: 40%;
    position: relative;
}

.joueur1{
    height: 59%;
    position: relative;
}

.joueur2_plateau{
    display: flex;
    position: absolute;
    border-radius: 10px;
    bottom: 5vh;
    left: 250px;
}

.joueur_platau_vide{
    color: rgba(255, 255, 255,0.7);
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 30px;
}

.joueur1_plateau{
    display: flex;
    position: absolute;
    margin-top: 5vh ;
    left: 250px;
    border-radius: 10px;

}

.joueur1_hand{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 200px;
    bottom: 5%;
    display: flex;
    border-radius: 10px;
}

.main{
    max-width: 180px;
    margin: 5px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.mainText{
    font-size: 13px;
    margin: 2px;
}

.mainCard{
    padding: 0;
}

.joueur2_carteHand{
    background-image: url("../img/deck.jpg");
    background-size: cover;
    border: 1px solid black;
    margin: 10px;
    width: 80px;
    height: 100px;
}

.joueur2_hand{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 5px 5px;
    display: flex;
    right: 200px;
}




hr{
    margin: 0;
    height: 5px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 5px black;
    
}

.nbDeck{
    margin: 0;
    font-size: 4em;
    color: white;
}

.joueurNbDeck:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.joueurNbDeck{
    background-color: inherit;
    box-sizing: none;
}

.joueurNbDeck:focus{
    outline: none;
}

.end{
    position: absolute;
    bottom: 10px;
    left: 10px;
}



.joueur1_plateau, .joueur2_plateau, .joueur1_hand{
    animation: move_up 4s ease-in-out;
}

.joueur1_deck, .joueur2_deck{
    animation: move_right 4s ease-in-out;

}

.joueur1_hp, .joueur2_hp, .end{
    animation: move_in 4s ease-in-out;
}

hr{
    animation: low 5s ease-in-out;

}

.bloc_msg{
    animation: apparition 1s ease-in-out ;

}

.msgTurn{
    font-size: 22px;
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
}

.msgToPlayer{
    position: absolute;
    color: white;
    top: 50px;
    left: 10px;

}

.paraMsgToPlayer{
    animation: msgPlayer 2s ease-in-out ;
}

@keyframes msgPlayer{
    0% {
        opacity: 0;
        
    }
    20%{
        opacity: 0.2;
    }

    60%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}
@keyframes low{
    0%{
        opacity: 0;
    }
    60%{
        opacity : 0;
    }
    80%{
        opacity: 0.6;
    }
    90% {
        opacity : 0.8
    }
    100%{
        opacity: 1;
    }
}

@keyframes apparition{
    0% {
        transform: translateY(-100px);
    }
}

@keyframes move_in {
    0% {
        opacity: 0;
        
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
        transform: translateY(+10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes move_up {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }
    20%{
        opacity: 0.7;
    }
    80% {
        
        transform: translateY(+10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes move_right {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }
    20%{
        opacity: 0.7;
    }
    80% {
        
        transform: translateY(+10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media (max-height: 875px) {
    .joueur2_deck{
        height: 80px;
        width: 55px;
        background-size: cover;
        font-size: 10px;
    }
    .joueur1_deck{
        height: 80px;
        width: 55px;
        background-size: cover;
        font-size: 10px;
    }
    .joueur2_plateau{
        bottom: 5vh;
    }

    
    .joueur1_plateau{
        margin-top: 5vh ;
        border-radius: 10px;
    }


    .joueur_img{
        width: 50px;
        height: 60px;
    }
    .joueur1_hand{
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 20px;
        display: flex;
        border-radius: 10px;
    }
    .main{
        margin: 5px;
        width: 80px;
        height: 110px;
        
    }
    .mainText{
        font-size: 12px;
    }
    .joueur1_plateau{
        right:0;
    }

    .joueur_platau_vide{
        font-size: 20px;
    }
  }

