.btn-valid{
    background-color: rgba(11, 160, 11, 0.8);
    border-radius: 50px;
    border : 1px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 5em;
    padding-left: 5em;
    margin: 2em;
    font-weight: bold;
    font-size: 25px;
}

.btn{
    margin-top: 20px;
}

.btn-cancel{
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
    border : 1px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    padding-left: 3em;
    font-weight: bold;

}

.gameFind{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5em;
    border-radius: 30px;
    border: 1px solid black;
    max-width: 550px;
    margin-top: 2em;
    display: block;
    width: 100%;

}

.listPlayer{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2em;
    border-radius: 30px;
    border: 1px solid black;
    margin: 4em;
}

.listPlayer1{
    padding: 1em;
}

section{
    width: 100%;
    height: 100%;
}

.ctnJoueur{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2em;
    border-radius: 30px;
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

