 body{
    
    background: url('../img/background.jpg') no-repeat center fixed ;
    background-size: cover;
}

.los-card article p {
    background-color: black;
    color: white;
}
.los-card article p:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.8);
}


.avatar {
  max-height: 100px;
}

.champCarte{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: white;
}


.bouttonValidate{
    position: absolute;
    right: 20px;
}