.dropdwn{
    background-color: rgba(0, 0, 0, 0.5);
}

.container-fluid{
    padding: 0;
}

.txt{
    text-decoration: none;
    color : white
}

.titleDrop{
    color : white;
    text-decoration: none;
    background-color: inherit;
    outline: none;
}

.titleDrop:focus{
    outline: none;
}

.titleDrop:hover{
    color: grey;
    text-decoration: none;
}

.txt:hover{
    color: white;
    text-decoration: none;
}

.items:hover{
    background-color:  rgba(0, 0, 0, 0.7)
}
